@import "src/assets/style/variables.scss";



button {
  margin-right: 8px;
  background: $ailos-primary;
  border-radius: 2px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

