$ailos-primary: #165C7D;
$ailos-secondary: #FFA300;

// complementary colors
$ailos-primary-light: #009ED0;
$ailos-green: #00C246;
$ailos-primary-intermediate: #007D8A;

// grayscale colors
$ailos-black: #040F14;
$ailos-gray-4: #889499;
$ailos-gray-3: #A7B0B5;
$ailos-gray-2: #C6CED1;
$ailos-gray-1: #E7EEF1;

$ailos-azul-120: #013F5C;
