<div>
  <div class="container-fluid auth-container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <mat-horizontal-stepper labelPosition="bottom" class="auth-stepper">
          <mat-step label="Início"></mat-step>
          <mat-step label="Documentos"></mat-step>
          <mat-step label="Dados cadastrais"></mat-step>
          <mat-step label="Admissão"></mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="header">
          <h4 class="auth-title">Informe o CPF do futuro cooperado (a)</h4>
          <p class="auth-subtitle">Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este
            cadastro
            futuramente.
            <br>
            Digite apenas os números (sem pontos ou traços).
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="content mt-15">
          <form [formGroup]="registerForm" (ngSubmit)="getUser(cpf)" class="display-flex">
            <div class="mr-15 col-md-3 col-sm-6 col-xs-4">
              <label for="cpf">CPF</label>

              <input [ngClass]="{'is-invalid':submitted && registerForm.controls.cpf.errors}" formControlName="cpf"
                type="tel" class=" form-control" [ngModel]="cpf | cpfMask: 'cpf'" (ngModelChange)="cpf=$event"
                appOnlyNumbers placeholder="000.000.000-00" maxlength="14">
              <div *ngIf="submitted && registerForm.controls.cpf.errors" class="text-danger">
                <div *ngIf="submitted && registerForm.controls.cpf.errors.required">
                  Informe um CPF válido
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <button class="btn auth-button" type="submit">Consultar por CPF</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- <div *ngIf=" memberDataa$ | async as memberData; else loading">
      <div *ngFor="let item of memberDataa$ | async">
        <label> {{item.cpf}}</label>
        <label> {{item.nome}}</label>
      </div>
    </div> -->

    <!-- <div *ngIf=" memberDataa$ | async as memberData; else loading">
      <label> {{memberData}}</label>
    </div> -->
    <div *ngIf="isLoading">
      <div class="row mt-50 mx-20">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
    <div *ngIf="!isLoading && memberData ">
      <div class="row mt-30">
        <div class="col-md-3 col-sm-3">
          <mat-card>
            <mat-card-header>
              <mat-card-title class="auth-card-title">Situação cadastral do CPF</mat-card-title>
              <mat-card-subtitle class="auth-card-subtitle">Consulta na Receita Federal</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-list>
                <mat-card-header>
                  <div>
                    <mat-icon class="auth-card-icon-person">person</mat-icon>
                  </div>
                  <div class="auth-card-info">
                    <mat-card-title class="auth-card-title-sub">Nome</mat-card-title>
                    <mat-card-subtitle class="auth-card-subtitle-sub">{{memberData.nome}}</mat-card-subtitle>
                  </div>
                </mat-card-header>
                <mat-card-header>
                  <div>
                    <span class="material-symbols-outlined auth-card-icon-check">
                      check_circle
                    </span>
                  </div>
                  <div class="auth-card-info">
                    <mat-card-title class="auth-card-title-sub">Situação do CPF</mat-card-title>
                    <mat-card-subtitle class="auth-card-subtitle-sub">{{memberData.situacaoCpf}}</mat-card-subtitle>
                  </div>
                </mat-card-header>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-3 col-sm-3">
          <mat-card>
            <mat-card-header>
              <mat-card-title class="auth-card-title">Conta aplicação</mat-card-title>
              <mat-card-subtitle class="auth-card-subtitle">Cooperativa viacredi</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-list>
                <mat-card-header class="dani">
                  <div>
                    <span class="material-symbols-outlined auth-card-icon">
                      credit_card
                    </span>
                  </div>
                  <div class="auth-card-info">
                    <mat-card-title class="auth-card-title-sub">Número da conta</mat-card-title>
                    <mat-card-subtitle class="auth-card-subtitle-sub">{{memberData.contaAplicacaoNumero |
                      card}}</mat-card-subtitle>
                  </div>
                </mat-card-header>
              </mat-list>
              <mat-card-actions>
                <button class="auth-card-btn" mat-button>Duplicar conta</button>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-3 col-sm-3">
          <mat-card>
            <mat-card-header>
              <mat-card-title class="auth-card-title">Conta corrente</mat-card-title>
              <mat-card-subtitle class="auth-card-subtitle">Cooperativa viacredi</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-list>
                <mat-card-header class="dani">
                  <div>
                    <span class="material-symbols-outlined auth-card-icon">
                      credit_card
                    </span>
                  </div>
                  <div class="auth-card-info">
                    <mat-card-title class="auth-card-title-sub">Número da conta</mat-card-title>
                    <mat-card-subtitle class="auth-card-subtitle-sub">{{memberData.contaCorrenteNumero |
                      card}}</mat-card-subtitle>
                  </div>
                </mat-card-header>
              </mat-list>
              <mat-card-actions>
                <button class="auth-card-btn" mat-button>Duplicar conta</button>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="auth-footer">
  <button *ngIf="memberData" mat-stroked-button class="auth-button-secondary-p ">Iniciar nova admissão</button>
  <button mat-stroked-button class="auth-button-secondary ">Dicas para admissão</button>
</div>
