@import "src/assets/style/variables.scss";

.display-flex {
  display: flex;
}
mat-card {
  padding: 15px;
  width: 270px;
  height: 183px;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.auth-container {
  padding: 16px 80px;
}
.auth-button {
  background: $ailos-primary;
  border-radius: 2px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 25px;
  margin: 20px;
}
.auth-button-secondary {
  background: #fff;
  border: 1.5px solid $ailos-primary !important;
  color: $ailos-primary;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin: 20px;
  margin-left: 20px;

}
.auth-button-secondary-p {
  background: $ailos-primary;
  border: 1.5px solid $ailos-primary !important;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-left: 20px;
}
.auth-stepper {
  justify-content: center;
  display: flex;
  align-items: center;
}
.auth-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: $ailos-black;
}
.auth-subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #4f575e;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-card-btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: $ailos-primary;
}

.auth-card-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: $ailos-black;
}
.auth-card-subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* Cor texto sutil */
  color: #787878;
}
.auth-card-title-sub {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #787878;
}
.auth-card-subtitle-sub {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $ailos-black;
}
.auth-card-info {
  margin-left: 23px;
}
.auth-card-icon-person {
  color: #889499;
  margin: 5px -18px;
}
.auth-card-icon {
  color: #889499;
  margin: 5px -18px;
}
.auth-card-icon-check {
  color: #00c246;
  margin: 5px -18px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.px {
  margin: 0 90px;
}
.mr-15 {
  margin-right: 15px;
}
.auth-footer {
  background-color: #fff;
  padding: 5px 50px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
