<div class="container" style="padding: 16px 0;
margin: 0 90px;">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <mat-horizontal-stepper labelPosition="bottom" class="auth-stepper">
          <mat-step label="Início"></mat-step>
          <mat-step label="Documentos"></mat-step>
          <mat-step label="Dados cadastrais"></mat-step>
          <mat-step label="Admissão"></mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="header">
          <h4 class="auth-title">Informe o CPF do futuro cooperado (a)</h4>

          <p class="auth-subtitle">Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este
            cadastro
            futuramente.
            <br>
            Digite apenas os números (sem pontos ou traços).
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="content mt-15">
          <form class="row ">
            <div class="col-md-4 col-sm-6 col-xs-4">
              <label for="cpf">CPF</label>
              <div class="input-group has-validation">
                <input type="tel" class="form-control" [ngModel]="cpf | cpfMask: 'cpf'" (ngModelChange)="cpf=$event"
                  appOnlyNumbers name="cpf" placeholder="000.000.000-00" maxlength="14"
                  aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Informe um CPF válido
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="form-group">
                <button class="btn auth-button" type="submit" (click)="getData(cpf)">Consultar por CPF</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- <div *ngIf=" memberDataa$ | async as memberData; else loading">
      <div *ngFor="let item of memberDataa$ | async">
        <label> {{item.cpf}}</label>
        <label> {{item.nome}}</label>
      </div>
    </div> -->

    <!-- <div *ngIf=" memberDataa$ | async as memberData; else loading">
      <label> {{memberData}}</label>
    </div> -->

    <div>
      <div *ngIf="  memberData; else loading">
        <div class="row mt-30">
          <div class="col-md-3 col-sm-3">
            <mat-card>
              <mat-card-header>
                <mat-card-title class="auth-card-title">Situação cadastral do CPF</mat-card-title>
                <mat-card-subtitle class="auth-card-subtitle">Consulta na Receita Federal</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <mat-list>
                  <mat-card-header class="dani">
                    <div>
                      <mat-icon style="color:#889499; margin: 5px -18px;
                    ">person</mat-icon>
                    </div>
                    <div style="margin-left: 23px;">
                      <mat-card-title class="auth-card-title-sub">Nome</mat-card-title>
                      <mat-card-subtitle class="auth-card-subtitle-sub">{{memberData.nome}}</mat-card-subtitle>
                    </div>
                  </mat-card-header>
                  <mat-card-header>
                    <div>
                      <span class="material-symbols-outlined" style="color: #00C246;
                    margin: 5px -18px;
                    ">
                        check_circle
                      </span>
                    </div>
                    <div style="margin-left: 23px;">
                      <mat-card-title class="auth-card-title-sub">Situação do CPF</mat-card-title>
                      <mat-card-subtitle class="auth-card-subtitle-sub">{{memberData.situacaoCpf}}</mat-card-subtitle>
                    </div>
                  </mat-card-header>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-3 col-sm-3">
            <mat-card>
              <mat-card-header>
                <mat-card-title class="auth-card-title">Conta aplicação</mat-card-title>
                <mat-card-subtitle class="auth-card-subtitle">Cooperativa viacredi</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <mat-list>
                  <mat-card-header class="dani">
                    <div>
                      <span style="color:#889499; margin: 5px -18px;
                    " class="material-symbols-outlined">
                        credit_card
                      </span>
                    </div>
                    <div style="margin-left: 23px;">
                      <mat-card-title class="auth-card-title-sub">Número da conta</mat-card-title>
                      <mat-card-subtitle
                        class="auth-card-subtitle-sub">{{memberData.contaAplicacaoNumero | card}}</mat-card-subtitle>
                    </div>
                  </mat-card-header>
                </mat-list>
                <mat-card-actions>
                  <button class="auth-card-btn" mat-button>Duplicar conta</button>
                </mat-card-actions>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-3 col-sm-3">
            <mat-card>
              <mat-card-header>
                <mat-card-title class="auth-card-title">Conta corrente</mat-card-title>
                <mat-card-subtitle class="auth-card-subtitle">Cooperativa viacredi</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <mat-list>
                  <mat-card-header class="dani">
                    <div>
                      <span style="color:#889499; margin: 5px -18px;
                    " class="material-symbols-outlined">
                        credit_card
                      </span>
                    </div>
                    <div style="margin-left: 23px;">
                      <mat-card-title class="auth-card-title-sub">Número da conta</mat-card-title>
                      <mat-card-subtitle
                        class="auth-card-subtitle-sub">{{memberData.contaCorrenteNumero | card}}</mat-card-subtitle>
                    </div>
                  </mat-card-header>
                </mat-list>
                <mat-card-actions>
                  <button class="auth-card-btn" mat-button>Duplicar conta</button>
                </mat-card-actions>
              </mat-card-content>
            </mat-card>
          </div>

          <!-- <footer class="footer" style="padding: 0 80px;">
          <button mat-stroked-button class="auth-button-secondary">Dicas para admissão</button>
        </footer> -->
        </div>
      </div>
      <ng-template #loading>
        <!-- <mat-spinner class="loading-spinner"></mat-spinner> -->
        <div class="row mt-50 mx-20">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </ng-template>
    </div>
  </div>
